.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Trebuchet MS";
}

#header2 {
    -fx-text-alignment: center;
    -fx-font-size: 48pt;
    /*-fx-font: Roboto;*/
    /*-fx-font-style: normal;*/
    /*-fx-font-weight: 500;*/
}

#box {
    -fx-background-color: #bbbbbb;
    -fx-padding: 15;
    -fx-spacing: 20;
}

#button1 {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
    -fx-background-color: linear-gradient(#C4C4C4, #7D7D7D);
    -fx-pref-width: 165px;
    -fx-pref-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#button1:hover {
    -fx-background-color: linear-gradient(#a52121, #e02323);
    -fx-text-fill: white;
}

#button2 {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
    -fx-background-color: linear-gradient(#C4C4C4, #7D7D7D);
    -fx-pref-width: 135px;
    -fx-pref-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#button2:hover {
    -fx-background-color: linear-gradient(#a52121, #e02323);
    -fx-text-fill: white;
}

#flowPane {
    "-fx-alignment: center;"
}

#popupTitle {
    -fx-font-size: 25pt;
    -fx-font-family: "Trebuchet MS";
}

#popupMessage {
    -fx-font-size: 20pt;

}


#boardPane {
    -fx-background-color: white;


}


#playerControlPane {
    -fx-background-color: pink;


}

#innerBoard {
    -fx-background-color: green;


}

#boardLogo{
    -fx-border-color: black;
    -fx-border-width: 5;
}


#propColor{
    -fx-border-color: black;
    -fx-border-radius: 1;
}


#propText{
    -fx-font-size: 6pt;

}

#popUp{
    -fx-font-size: 8pt;
    -fx-text-fill: white;
}



