.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Trebuchet MS";
}

#header2 {
    -fx-text-alignment: center;
    -fx-font-size: 48pt;
    /*-fx-font: Roboto;*/
    /*-fx-font-style: normal;*/
    /*-fx-font-weight: 500;*/
}

#box {
    -fx-background-color: #bbbbbb;
    -fx-padding: 15;
    -fx-spacing: 20;
}

#playerControlBox {
    -fx-background-color: #e1e1e1;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-pref-width: 400;
    -fx-pref-height: 500;
}

#button1 {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
    -fx-background-color: linear-gradient(#C4C4C4, #7D7D7D);
    /*-fx-pref-width: 165px;*/
    -fx-pref-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#button1:hover {
    -fx-background-color: linear-gradient(#a52121, #e02323);
    -fx-text-fill: white;
}

#button2 {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
    -fx-background-color: linear-gradient(#C4C4C4, #7D7D7D);
    -fx-pref-width: 135px;
    -fx-pref-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#button2:hover {
    -fx-background-color: linear-gradient(#a52121, #e02323);
    -fx-text-fill: white;
}

#button3 {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    -fx-background-color: linear-gradient(#C4C4C4, #7D7D7D);
    -fx-pref-width: 200px;
    -fx-pref-height: 55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#button3:hover {
    -fx-background-color: linear-gradient(#a52121, #e02323);
    -fx-text-fill: white;
}

#button4 {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    -fx-background-color: linear-gradient(#C4C4C4, #7D7D7D);
    -fx-pref-width: 75px;
    -fx-pref-height: 45px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#button4:hover {
    -fx-background-color: linear-gradient(#a52121, #e02323);
    -fx-text-fill: white;
}

#flowPane {
    "-fx-alignment: center;"
}

#popupTitle {
    -fx-font-size: 25pt;
    -fx-font-family: "Trebuchet MS";
}

#popupMessage {
    -fx-font-size: 20pt;

}

#boardPane {
    -fx-background-color: white;
}


#playerControlPane {
    -fx-background-color: pink;

}

#innerBoard {
    -fx-background-color: green;


}

#boardLogo{
    -fx-border-color: black;
    -fx-border-width: 5;
}


#propColor{
    -fx-border-color: black;
    -fx-border-radius: 1;
}


#propText{
    -fx-font-size: 5pt;

}

#popUp{
    -fx-font-size: 8pt;
    -fx-text-fill: white;
}

#propPopUp{
    -fx-font-size: 15pt;
}

#buildIncrementerVBox{
    -fx-padding: 0.0,20.0,0.0,40.0;
    -fx-spacing: 15;
}

#propVBox{
    -fx-padding: 20,10,20,10;
}
